.App {
	height: 100vh;
	background-color: #f1fef4f2;
}

* {
	scroll-behavior: smooth;
}

.color {
	color: #011b33;
}

.bounce {
	transform: translateY(10%);
	transition: 0.77s;
}

.bounce:hover {
	transform: translateY(-4%);
}
